<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="page='recupera-password'">
<head>
    <title>Recupera credenziali</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            
            <div th:if="${messaggio}" class="alert alert-info text-center" th:text="${messaggio}">
            </div>

            <form th:unless="${messaggio}" th:action="@{/recupera-password}" method="post">
                <p class="text-center text-muted mb-4">
                    Inserisci l'email associata al tuo account e 
                    ti invieremo un link per reimpostare le credenziali.
                </p>
                <div class="mb-3">
                    <label for="email" class="form-label">Indirizzo Email</label>
                    <input type="email" name="email" id="email" class="form-control" required />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Invia link di recupero</button>
                </div>
            </form>
            
            <div class="text-center mt-3">
                <a th:href="@{/login}" style="color: navy;">Torna al Login</a>
            </div>

        </div>
    </div>
</section>
</body>
</html>