<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="page='disponibilita-campagna'">

<head>
    <script>
        function confermaEliminazione() {
            return confirm("Sei sicuro di voler eliminare questa disponibilità?");
        }
    </script>
</head>

<body>
<section layout:fragment="content">
    <div class="container">

        <!-- Pulsanti in alto -->
		<div class="d-flex justify-content-between mb-4">
		    <a th:href="@{/admin/configurazioni/gestione-disponibilita}" class="btn btn-secondary">←</a>
		    
		    <a th:href="@{'/admin/configurazioni/gestione-disponibilita/aggiungi/' + ${campagna.id}}" 
		       class="btn btn-success">+ Aggiungi disponibilità</a>
		</div>


        <!-- Tabella disponibilità -->
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th>Prodotto</th>
                        <th>Quantità</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="caricamento : ${caricamenti}">
                        <td th:text="${caricamento.prodotto.descrizioneProdotto}"></td>
                        <td class="text-center" th:text="${caricamento.quantita}"></td>
                        <td class="text-center">
							<a th:href="@{'/admin/configurazioni/gestione-disponibilita/storico/' + ${caricamento.campagna.id} + '/' + ${caricamento.prodotto.id}}" 
							   class="btn btn-info btn-sm me-2">
							   Vedi storico caricamenti
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
