<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="page='scegli-campagna-invio-ordini'">

<body>
<section layout:fragment="content">
    <div class="container text-center">
    
        <!-- Tasto indietro -->
		<div class="d-flex justify-content-between mb-4">
		    <a th:href="@{/home}" class="btn btn-secondary">←</a>
		    
		</div>

        <form th:action="@{/admin/invia-prenotazioni-a-magazzino}" method="post" class="col-md-6 offset-md-3">
            <div class="mb-4">
                <select id="idCampagna" name="idCampagna" class="form-select select2" required
                	data-placeholder="Seleziona una campagna...">
                    <option value=""></option>
                    <option th:each="campagna : ${campagne}"
                            th:value="${campagna.id}"
                            th:text="${campagna.descrizioneCampagna}">
                    </option>
                </select>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-success">Conferma</button>
            </div>
        </form>
    </div>
</section>

</body>
</html>
