<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="page='gestione-campagne'">

<head>
    <title th:text="${title}">Gestione campagne</title>
    <script>
        function confermaEliminazione() {
            return confirm("Sei sicuro di voler eliminare la campagna ?");
        }
    </script>
</head>

<body>
<section layout:fragment="content">

    <div class="container">
    
   		<!-- Pulsanti in alto: Configurazioni e Aggiunta -->
		<div class="d-flex justify-content-between mb-3">
		    <a th:href="@{/admin/configurazioni}" class="btn btn-secondary">←</a>
   		    <a th:href="@{/admin/configurazioni/gestione-campagne/aggiungi-campagna}" class="btn btn-warning">Aggiungi campagna</a>
		</div>
    
   	    <!-- Barra di ricerca -->
		<form th:action="@{/admin/configurazioni/gestione-campagne}" method="get" class="mb-4">
		    <div class="input-group">
		        <input type="text" class="form-control" placeholder="Cerca" name="query" th:value="${query}">
		        <button class="btn btn-primary" type="submit">Cerca</button>
		    </div>
		</form>

	    <!-- Tabella Campagne -->
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th>Descrizione</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="campagna : ${campagne}">
                        <td th:text="${campagna.descrizioneCampagna}"></td>
                        <td class="text-center">
                            <a th:href="@{'/admin/configurazioni/gestione-campagne/modifica/' + ${campagna.id}}" class="btn btn-warning btn-sm me-2">Modifica</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
</body>
</html>
