<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="page='gestione-clienti'">

<head>
    <title th:text="${title}">Gestione clienti</title>
    <script>
        function confermaEliminazione() {
            return confirm("Sei sicuro di voler eliminare il cliente ?");
        }
    </script>
</head>

<body>
<section layout:fragment="content">

    <div class="container">
    
    	<!-- Pulsanti in alto: Configurazioni e Aggiunta -->
		<div class="d-flex justify-content-between mb-3">
		    <a th:href="@{/admin/configurazioni}" class="btn btn-secondary">←</a>
   		    <a th:href="@{/admin/configurazioni/gestione-clienti/aggiungi-cliente}" class="btn btn-warning">Aggiungi cliente</a>
		</div>
    
	    <!-- Barra di ricerca -->
		<form th:action="@{/admin/configurazioni/gestione-clienti}" method="get" class="mb-4">
		    <div class="input-group">
		        <input type="text" class="form-control" placeholder="Cerca" name="query" th:value="${query}">
		        <button class="btn btn-primary" type="submit">Cerca</button>
		    </div>
		</form>

    	
	    <!-- Tabella Clienti -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped align-middle text-white">
                <thead class="table-dark">
                    <tr>
                        <th>Nominativo</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clienti}">
                        <td th:text="${cliente.nominativo}"></td>
                        <td>
                            <a th:href="@{'/admin/configurazioni/gestione-clienti/modifica/' + ${cliente.id}}" class="btn btn-warning btn-sm me-2">Modifica</a>
                            
                            <!-- Tasto "elimina" disabilitato 
	                            <form th:action="@{'/admin/configurazioni/gestione-clienti/elimina/' + ${cliente.id}}"
	                                  method="post" th:object="${socio}" style="display:inline"
	                                  onsubmit="return confermaEliminazione()">
	                                <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
	                            </form>
                            -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
</body>
</html>
